/* General styles */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: #444;
}

h1, h2, h3 {
	font-weight: normal;
}

a {
	color: #1E90FF;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Header styles */

header {
	background-color: #fff;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 20px;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav {
	display: flex;
	align-items: center;
}

nav li {
	margin-right: 20px;
}

nav a {
	font-weight: bold;
	text-decoration: none;
	transition: color 0.2s;
}

nav a:hover {
	color: #000;
}

/* Main styles */

main {
	margin-top: 100px;
}

section {
	padding: 50px;
}

section:nth-child(odd) {
	background-color: #fff;
}

section:nth-child(even) {
	background-color: #f8f8f8;
}

/* Footer styles */

footer {
	background-color: #1E90FF;
	color: #fff;
	padding: 20px;
	text-align: center;
}
